<div class="row page-title-row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <ol class="breadcrumb float-left">
                <li class="breadcrumb-item"><a [routerLink]="['/interventions']">{{'Interventions' | translate}}</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/intervention', journalDetail.intervention.id]">{{journalDetail.intervention.name}}</a></li>
                <li class="breadcrumb-item active" *ngIf="journalDetail.id > 0">{{journalDetail.name}}</li>
                <li class="breadcrumb-item active" *ngIf="journalDetail.id == 0">{{'Combined' | translate}}</li>
            </ol>
            <div class="float-right">
                <button *ngIf="journalDetail.id != 0" class="btn btn-sm btn-outline-secondary" (click)="add(content)"><i class="fa fa-plus"></i> {{'Add' | translate}}</button>
                <!--<button class="btn btn-sm btn-outline-secondary">Export</button>-->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="fa fa-book"></i> {{journalDetail.name || ('Combined' | translate)}}</h3>
            </div>

            <div class="card-body">
                <ng-container *ngFor="let item of journalDetail.entries; let index = index;">
                    <div class="row journal-row" [ngClass]="{'alternate-row': (index % 2 == 0)}">
                        <div class="col-sm-2">
                            <b>{{'Id' | translate}}</b> {{item.id}}
                        </div>
                        <div class="col-sm-5">
                            <b>{{'Date' | translate}}</b> {{item.dateTime | date:'dd.MM.yyyy HH:mm'}}
                        </div>
                        <div class="col-sm-2">
                            <i class="fa" ngClass="{{(item.direction == 0 ? 'fa-arrow-down' : 'fa-arrow-up')}}"></i> {{(item.direction == 0 ? 'Incoming' : 'Outgoing') | translate}}
                        </div>
                        <div class="col-sm-3">
                            <channel-cell [channelId]="item.channelId"></channel-cell>
                        </div>
                    </div>
                    <div class="row journal-row" [ngClass]="{'alternate-row': (index % 2 == 0)}">
                        <div class="col-sm-7">
                            <b>{{'From' | translate}}</b> {{item.name}}
                        </div>
                        <div class="col-sm-5" *ngIf="journalDetail.id == 0">
                            <b>{{'Journal' | translate}}</b> {{item.journalName}}
                        </div>

                    </div>
                    <div class="row journal-bottom-row" [ngClass]="{'alternate-row': (index % 2 == 0)}">
                        <div class="col">
                            <quill-editor [(ngModel)]="item.message" [readOnly]="true" [modules]="{toolbar: false}"></quill-editor>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
