<div class="row page-title-row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <ol class="breadcrumb float-left">
                <li class="breadcrumb-item"><a [routerLink]="['/interventions']">{{'Interventions' | translate}}</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/intervention', journalDetail.intervention.id]">{{journalDetail.intervention.name}}</a></li>
                <li class="breadcrumb-item active" *ngIf="journalDetail.id > 0">{{journalDetail.name}}</li>
                <li class="breadcrumb-item active" *ngIf="journalDetail.id == 0">{{'Combined' | translate}}</li>
            </ol>
            <div class="float-right">
                <!--<button class="btn btn-sm btn-outline-secondary" (click)="add(content)"><i class="fa fa-plus"></i> {{'Add' | translate}}</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>-->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="fa fa-book"></i> {{journalDetail.name || ('Combined' | translate)}}</h3>
            </div>

            <div class="card-body">

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th width="50px">Id</th>
                        <th width="150px" *ngIf="journalDetail.id == 0">{{'Journal' | translate}}</th>
                        <th width="170px">{{'Date' | translate}}</th>
                        <th>{{'From' | translate}}</th>
                        <th width="40px"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let item of journalDetail.entries; let index = index;">
                        <tr [ngClass]="{'alternate-row': (index % 2 == 0)}">
                            <td>{{item.id}}</td>
                            <td *ngIf="journalDetail.id == 0">{{item.journalName}}</td>
                            <td>{{item.dateTime | date:'dd.MM.yyyy HH:mm'}}</td>
                            <td>
                                {{item.person}}
                            </td>
                            <td><i class="fa" ngClass="{{item.channelIcon}}"></i></td>
                        </tr>
                        <tr [ngClass]="{'alternate-row': (index % 2 == 0)}">
                            <td [colSpan]="journalDetail.id == 0 ? 5 : 4">
                                <quill-editor [(ngModel)]="item.text" [readOnly]="true" [modules]="{toolbar: false}"></quill-editor>
                            </td>
                        </tr>
                    </ng-container>


                    <tr *ngIf="!journalDetail">
                        <td [colSpan]="journalDetail.id == 0 ? 5 : 4"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


