<div id="sidebar-menu" class="vh-100">
    <ul  class="nav flex-column sticky-top pl-0 pt-5 mt-3">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">{{'Home' | translate}}</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['organizational-structure']" [routerLinkActive]="['active']">{{'Organizational structure' | translate}}</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['interventions']" [routerLinkActive]="['active']">{{'Interventions' | translate}}</a></li>
    </ul>
</div>

