<div *ngIf="!organizationalStructure">
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>
<div *ngIf="organizationalStructure">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>{{'Organizational structure' | translate}}</h1>
        <!--<div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
        </div>-->
    </div>

    <div *ngFor="let group of organizationalStructure.groups">
        <group-structure [group]="group" [level]="1"></group-structure>
    </div>
</div>
